* {font-family: Arial, Helvetica, sans-serif;}
body {
  padding: 0px;
  margin: 0px;

}

h2 {
padding-top: 10px;
}
img {
padding: 10px;
}
img.auto {
 width: auto;
}
.header {
  top: 0;
  text-align: left;
  background-color: #CFCFCF;
  border-color: #CFCFCF;
  padding: 20px;
}
h1.center {
text-align: center;
}

img.center {
 margin: auto;
 display: block;
}

div.center {
  width: 300px;
  margin: 0 auto;
}

img.center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 300px;
   }

.container { display: flex; justify-content: center; }